[user]
	name = nnova-dev
	email = loann.fages@gmail.com
	signingkey = /home/nnovadev/.ssh/id_ed25519.pub
[commit]
	gpgsign = true
[tag]
	pgpsign = true
[gpg "ssh"]
	allowedSignersFile = /home/nnovadev/.ssh/known_hosts
[gpg]
	format = ssh
